//Theme Colors
$primary: #BC212E;
$secondary: #130305;
$success: #5ABC21;
$danger: #961A25;
$warning: #BC9921;
$info: #2186BC;
//
$light: #fff;
$dark: #171515;
//

//Body Background
//$body-bg: #fff;
$body-bg-light: #fff;
$body-bg-dark: #333;
