//Theme Colors
$primary: #BC212E !default;
$secondary: #130305 !default;
$success: #5ABC21 !default;
$danger: #961A25 !default;
$warning: #BC9921 !default;
$info: #2186BC !default;
//
$light: #fff !default;
$dark: #171515 !default;
//

//Body Background
//$body-bg: #fff;
$body-bg-light: #fff !default;
$body-bg-dark: #333 !default;